{% extends 'base.html' %}

{% block content %}

<!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <article class="column large-full entry format-standard">

                    <div class="media-wrap entry__media">
                        <div class="entry__post-thumb">
                            <img src="{{ post.cover.url }}" alt="">
                        </div>
                    </div>

                    <div class="content__page-header entry__header">
                        <h1 class="display-1 entry__title">
                        {{post.title}}
                        </h1>
                        <ul class="entry__header-meta">
                            <li class="author">By <a href="#0">{{post.author}}</a></li>
                            <li class="date">{{post.created_date}}</li>
                            <li class="cat-links">
                                <a href="#0">{{post.category}}</a>
                            </li>
                        </ul>
                    </div> <!-- end entry__header -->

                    <div class="entry__content">

                        <p class="lead drop-cap">
                        
                        </p>

                        <p>
                        {{post.text}}
                         </p>

                        <p>
                        <img src="{{ post.cover2.url }}" alt="">
                        </p>

                        <h2>{{post.l_heading}}</h2>
    
                        <p>
                        {{post.l_heading_text}}
                        </p>
    
                        <blockquote>
                            <p>
                            {{post.quote}}
                            </p>
                            <cite>{{post.quote_name}}
                            </cite>
                        </blockquote>
    
                        
    
                        <h3>{{post.s_heading}}</h3>
    
                        <p>
                        {{post.s_heading_text}}
                        </p>

                        <p class="entry__tags">
                            <span>Post Tags</span>
        
                            <span class="entry__tag-list">
                                <a href="#0">{{post.tag_1}}</a>
                                <a href="#0">{{post.tag_2}}</a>
                                <a href="#0">{{post.tag_3}}</a>
                                
                            </span>
                            <a href="https://twitter.com/atuljain?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @atuljai</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </p>
                        <div class="fb-like" data-href="https://atuljai.pythonanywhere/{{post.id}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div><div class="fb-comments" data-href="https://atuljai.pythonanywhere" data-width="" data-numposts="10"></div>
                    </div> <!-- end entry content -->

                    
                        

                </article> <!-- end column large-full entry-->




{% endblock content  %}

        